[user]
  name = glk1001
  email = gregg.kay@gmail.com
[core]
  autocrlf = false
#  excludesfile = H:/.gitignore_global
  longpaths = true
  editor = vim
[pager]
  branch = false
[merge]
  tool = bc
[mergetool "bc"]
  path = /usr/bin/bcompare
[diff]
  tool = bc
[difftool]
  path = /usr/bin/bcompare
  prompt = false
[difftool]
  keepBackup = false
  trustExitCode = false 
  prompt = false
  bc = trustExitCode
  bc = trustExitCode
[status]
  submodulesummary = true
[push]
  default = simple
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold 
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[am]
  keepcr = true
[format]
  attach
[branch "master"]
  rebase = true
[apply]
  ignorewhitespace = change
  whitespace = nowarn
[branch]
  autosetuprebase = always
[alias]
  st = status
  ci = commit
  cpi = cherry-pick
  br = branch
  co = checkout
  sw = switch
  df = diff
  dt = difftool
  mt = mergetool
  lg = log -p
  logme = log --author=\"Greg Kay\"
  who = shortlog -s --
  undo = reset --hard
  llog = log --date=local
  changes = diff --name-status -r
  diff-commits = log --left-right --graph --cherry-mark --oneline 
  diffstat = diff --stat -r
  clnchk=clean -n -d
  find = !git ls-tree -r --name-only HEAD | grep -i
  aliases = !git config --get-regexp 'alias.*' | sed 's/^alias\\.//' | sed 's/[ ]/ = /' | sort ;;
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
